{% extends "base.html" %}

{% block content %}
    <div class="container position-relative h-25 d-flex flex-column justify-content-center align-items-center" style="width:90%; min-height: 100px;">   
        <h4 class="text-center mb-3">Do you want to delete your <b>Account</b> ?</h4>
        <form method="POST" action="{% url 'myprofile:delete'%}">
            {% csrf_token %}
            <div class="text-center p-0 w-100">
                <input type="submit" class="btn btn-sm btn-outline-danger" value="Delete" />
                <a class= "btn btn-sm btn-dark" href="{% url 'myprofile:index'%}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}