#id_password1, #id_password2 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 38px;
}

#div_id_password1 .help-block {
	display: none;
}

#div_id_is_subscribed {
    margin: 1rem 0;
    font-weight: bold;
}

.readonlypasswordhashwidget {
    display: none;
}

.control-group {
	margin-top: 0.5rem;
    width: 100%;
}

.help-block, .controls > ul {
	font-size: 0.9rem;
}

.social-icon {
    text-decoration: none;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 35px;
    width: 35px;
}