div, h2, h3 {
    font-family: monospace;
}

.textinput, .emailinput {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 38px;
}

.textinput:focus, .emailinput:focus {
    outline: none;
}

.alert {
    border: 1px solid red;
    color: red;
    background-color: #ff000017;
}

.alert ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

#div_id_password1 .help-block {
	display: none;
}

#error_1_id_email, #error_1_id_username {
    color: #dc3545;
}

.readonlypasswordhashwidget {
    display: none;
}

.control-group {
	margin-top: 0.5rem;
    width: 100%;
}

.help-block, .controls > ul > li {
	font-size: 0.8rem !important;
}

.social-icon {
    text-decoration: none;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 35px;
    width: 35px;
}