{% extends "base.html" %}
{% load crispy_forms_tags %}       
{% load socialaccount %}       

{% block content %}
    <h2 class="text-center">Login</h2>
    <div class="container" style="width:90%;">   
        <form method="POST" action="{% url 'authentication:login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="p-0 text-center mt-4">
                <button type="submit" class="btn btn-dark text-center w-100">Submit</button>
                <div class="">Don't have an account? <a href="{% url 'authentication:signup' %}">Sign Up</a></div>
            </div>
        </form>
    </div>
    <div class="p-2 border-bottom border-2 border-light m-auto mb-2" style="width: 90%"></div>
    <div class="p-2">
        <ul class="d-flex justify-content-center align-items-center p-0 m-0 gap-2 fs-6" style="list-style: none;">
            <li>
                <a href="{% provider_login_url 'google' %}" class="social-icon bg-danger text-white"><i class="fa-brands fa-google"></i></a>
            </li>
            <li>
                <a href="{% provider_login_url 'facebook' %}" class="social-icon bg-primary text-white"> <i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="" class="social-icon bg-dark text-white"><i class="fa-brands fa-apple fs-5"></i></a>
            </li>
        </ul>
    </div>
{% endblock content %}